// Add override variables here

$body-bg: #FFFFFF;
$danger: #CE3616;
$success: #006605;
$dark: #24303E;
$light: #EAE7DD;
$white: #FFFFFF;

$orange-100: #FFE0C6;
$orange-200: #FFA152;
$orange-300: #FF7602;
$orange-400: #FF7602;
$orange-500: #FF7602;
$orange-600: #E56900;
$orange-700: #E56900;
$orange-800: #E56900;
$orange-900: #E56900;

$oranges: (
    "orange-100": $orange-100,
    "orange-200": $orange-200,
    "orange-300": $orange-300,
    "orange-400": $orange-400,
    "orange-500": $orange-500,
    "orange-600": $orange-600,
    "orange-700": $orange-700,
    "orange-800": $orange-800,
    "orange-900": $orange-900
) !default;
$orange:  $orange-500;
$primary: $orange;

$blue-100: #E4EDF6;
$blue-200: #96B3D0;
$blue-300: #3C5067;
$blue-400: #3C5067;
$blue-500: #24303E;
$blue-600: #24303E;
$blue-700: #24303E;
$blue-800: #24303E;
$blue-900: #24303E;
$blues: (
    "blue-100": $blue-100,
    "blue-200": $blue-200,
    "blue-300": $blue-300,
    "blue-400": $blue-400,
    "blue-500": $blue-500,
    "blue-600": $blue-600,
    "blue-700": $blue-700,
    "blue-800": $blue-800,
    "blue-900": $blue-900
) !default;
$blue:  $blue-500;
$secondary: $blue;

$neutral100: #F6F6F7;
$neutral200: #E1E1E1;
$neutral300: #C7C7C7;
$neutral400: #666666;
$neutral500: #404040;
$neutral600: #000000;
$neutral700: #000000;
$grays: (
    "100": $neutral100,
    "200": $neutral200,
    "300": $neutral300,
    "400": $neutral400,
    "500": $neutral500,
    "600": $neutral600,
    "700": $neutral700,
    "800": $neutral700,
    "900": $neutral700
) !default;

$code-color: $neutral400;
$link-color: $secondary;
$link-hover-color: $orange;

$spacer: 5px;
$spacers: (
    0: 0,
    1: $spacer,
    2: $spacer * 2,
    3: $spacer * 3,
    4: $spacer * 4,
    5: $spacer * 5,
);


$font-family-base: Roboto, sans-serif;
$h1-font-size: 44px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 28px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$font-size-base: 18;
$font-size-sm: $font-size-base;
$font-size-root: $font-size-base;
$input-font-size: $font-size-base;
$btn-font-size: $h6-font-size;
$form-label-font-size: $font-size-base;
$form-feedback-font-size: 14px;
$toast-font-size: $h6-font-size;


$card-border-radius: 3px;
$input-border-radius: 3px;
$pagination-border-radius: 3px;
$alert-border-radius: 3px;
$card-inner-border-radius: 0;
$form-check-input-border-radius: 3px;
$toast-border-radius: 3px;
$dropdown-border-radius: 3px;


$btn-border-radius: 3px;
$btn-line-height: 50px;
$btn-padding-x: 50px;
$btn-padding-y: 0;

$card-border-color: $secondary;
$card-bg: $neutral100 !default;
$card-border-width: 0;

$form-label-margin-bottom: 0px;
$grid-gutter-width: 10px;

$dropdown-border-color: $secondary;
$dropdown-link-hover-bg: $blue-300;
$dropdown-link-hover-color: $white;
$dropdown-item-padding-y: 5px;
$dropdown-item-padding-x: 20px;
$dropdown-font-size: 20px;

$nav-link-color: $secondary;
$nav-link-hover-color: $orange;
$nav-link-font-size: 18px;
$navbar-padding-y:                  40px !default;
$navbar-brand-padding-y:            $navbar-padding-y !default;
$navbar-brand-height:               65px;

$modal-inner-padding: 20px !default;
$modal-content-border-radius: 3px !default;

$table-active-bg-factor:      .05;

//$list-group-border-width: 2px;
$list-group-border-radius: 3px;
$list-group-border-color: $secondary;

@import "node_modules/bootstrap/scss/bootstrap";


// Add custom styles here


$header-height: 100px;
$footer-height: 80px;

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: $header-height;
    width: 100%;
    flex: none;
}

main {
    flex: auto;
    height: calc(100% - $header-height - $footer-height - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;

    .scroll-body {
        flex: auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}

footer {
    height: $footer-height;
    width: 100%;
    padding: 0 25px;
    margin: auto;
    flex: none;
};

#filters {
    z-index: 1000;
    top: $header-height;
    max-height: 70vh;
}

h1, h2 {
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

button, .btn {
    color: $white;
    font-weight: 500;

    &.btn-sm {
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
    }

    &:hover,&:active, &:focus-visible, &:focus {
        color: $white;
        font-weight: 500;
    }
    &.btn-primary {
        &:active, &:focus-visible, &:focus {
            color: $white;
            background-color: $orange-700;
            border-color: $orange-700;
        }
        &:hover {
            color: $white;
            background-color: $orange-200;
            border-color: $orange-200;
        }
    }
    &.btn-outline-primary {
        color: $primary;
        background-color: $white;
        &:hover {
            background-color: $orange-100;
            color: $primary;
        }
        &:active, &:focus-visible, &:focus {
            background-color: $orange-200;
            border-color: $orange-200;
            color: $primary;
        }
    }
    &.btn-secondary {
        color: $white;
        &:active, &:focus-visible, &:focus {
            background-color: $blue-700;
            border-color: $blue-700;
            color: $white;
        }
        &:hover {
            background-color: $blue-300;
            border-color: $blue-300;
            color: $white;
        }
    }
    &.btn-outline-secondary {
        background-color: $white;
        color: $secondary;
        &:hover {
            background-color: $blue-100;
            color: $secondary;
        }
        &:active, &:focus-visible, &:focus {
            background-color: $blue-200;
            border-color: $blue-200;
            color: $secondary;
        }
    }

    &.btn-outline-danger {
        color: $danger;
        &:hover {
            background-color: rgba($danger, 0.7);
            color: $white;
        }
        &:active, &:focus-visible, &:focus {
            background-color: rgba($danger, 0.5);
            border-color: $danger;
            color: $danger;
        }
    }

    &.disabled {
        border-color: $neutral300;
        background-color: $neutral300;
        color: $white;
        &[class*="btn-outline-"] {
                border-color: $neutral300;
                background-color: $white;
                color: $neutral300;
        }
    }


    &.icon-button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

nav.navbar {
    background-color: $white;
    z-index: 1001;

    button:focus[data-bs-toggle="collapse"] {
        &:not(.collapsed) {
            background-color: $blue-100;
        }
    }
    button:focus[data-bs-toggle="dropdown"] {
        &.show {
            background-color: $blue-100;
        }
    }
}

.card {
    .card-header {
        background-color: $secondary;
        color: $white;
        font-weight: bold;
        padding: 0 10px;
        line-height: 50px;
    }
    .list-group {
        border-bottom: 0;
    }
    .card-body.list-group, .card-body.list-group.list-group-flush {
        padding: 10px;
        .list-group-item {
            padding: 0;
            border: 0;
            margin-bottom: 10px;
        }
    }
    .card-body, .card-footer {
        padding: 10px;
        border: 0;
    }
    .card-footer {
        float: right;
        background-color: $white;
    }
    .nrc-accordion-body {
        .card-footer {
            background-color: $card-bg;
        }
    }
}

.alert {
    padding: 1rem;
}

.nav-link {
    color: $nav-link-color;
    font-size: $nav-link-font-size;
    &:hover {
        color: $nav-link-hover-color;
    }
}

a.home-link {
    color: $nav-link-color;
    font-size: 24px;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:hover {
        color: $nav-link-hover-color;
    }
}

.no-text-decoration {
    text-decoration: none;
}

.nrc-individual-delete-btn {
    position: relative;
    top: -67px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    thead {
        border-color: $neutral200;
        background-color: $neutral200;
        font-weight: bold;
    }
    td {
        border-bottom-width: 0;
        background-color: $white;
    }
    tr {
        border-bottom-width: 1px;
    }
    th.sticky-column, td.sticky-column {
        position: sticky;
        left: 0;
    }
    th.sticky-column {
        background-color: $neutral200;
        z-index: 11;
    }
    td.sticky-column {
        z-index: 10;
        background-color: $white;
    }

    &.table-individuals {

        $maxWidth : 25rem;

        th {
            white-space: nowrap;
            max-width: $maxWidth;
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: $neutral200;
            
            &.sticky-column {
                z-index: 101;
            }

            &.sortable {
                cursor: pointer;
                @extend .pe-2;

                .sort-icon-next {
                    display: none;
                }

                &:hover {
                    background-color: var(--bs-gray-300);
                    .sort-icon-sortable {
                        display: none
                    }
                    .sort-icon-next {
                        display: inline-block;
                    }
                }

                &.sorted {
                    .sort-icon-sortable {
                        display: none
                    }
                    .sort-icon-current {
                        display: inline-block;
                    }
                    &:hover {
                        .sort-icon-current {
                            display: none;
                        }
                    }
                }

                &:not(.sorted) {
                    .sort-icon-current {
                        display: none;
                    }
                }
            }
        }

        td div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-spacing: 0;
            max-width: $maxWidth;
        }

        tbody tr {
            background: white;
        }
        tfoot th {
            bottom: 0;
        }

        input[type="checkbox"].marker-only {
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")!important;
            border: none!important;
            opacity: 0.5!important
        }
    }

    #action-menu {
        #action-menu__list {
            z-index: 102;
            margin-top: 1px;
            top: 40px;
            left: 20px;
            position: absolute;
            font-weight: 400;
            text-align: start;
        }

        .list-group-item {
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.page-link {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

#action-menu-trigger:hover {
    background-color: $neutral100;
}
