{{define "head"}}
{{end}}
{{define "body"}}
    <div class="container mt-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-3">
                <h1 class="display-6 fw-bold">Individuals</h1>
                <a href="/individuals" class="btn btn-primary btn-lg">View Individuals</a>
            </div>
        </div>
    </div>
{{end}}