{{define "support"}}
<a
  href="https://nrc.freshservice.com/a/catalog/request-items/95"
  target="_blank"
  class="d-flex align-items-center justify-content-end mt-3"
>
  NRC CORE V1 Issue | NRC Help Center (freshservice.com)
</a>
{{end}}